/* Modal window */
a.srevo-modal-button {
    color: #fff;
    background: blue;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    transition-duration: .25s;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

/* Button classes */

button.srevo-button-flat {
    background: none;
    background-color: #2271b1;
    color: #fff;
    text-shadow: none;
    padding: 10px;
    border: 0;	 
	 box-shadow: none;
	 border-radius: 0px;   
	 font-weight: bold;
}